@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}


/* creates the shape of the button. */

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}


/* This modifies the layout of where the email anad password show up. Works because the class form-control occurs before the text is stated in the html document. */

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}


/* removes box shape around the input while input is selected. Border-bottom-color changes the bottom lines blue when selected.*/

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}


/* squeezes email and password a bit closer together. Saves screen real estate. */

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* cubic-bezier defines a curve. Use the (P0, P1, P2, P3) to define the curve. Also creates a bit of a bounce effect */

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}


/* changes email and password text blue when selected. 
translateY moves text vertically. Negative numbers go up. Positive numbers go down.*/